---
layout: default
---

<div class="related">
  <h2>From the <a href="/archive/">Archives</a></h2>
  <ul class="related-posts center">
    {% for post in site.posts limit:3 %}
    <li class="small">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<hr />
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-bullets">&#8226;&#8226;&#8226;</span>
    {{ post.excerpt }}
  </div>
  <hr />
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="/page{{paginator.next_page}}/"
    >Older</a
  >
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %} {% if paginator.previous_page %} {% if paginator.previous_page ==
  1 %}
  <a class="pagination-item newer" href="/">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="/page{{paginator.previous_page}}/"
    >Newer</a
  >
  {% endif %} {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
