.hll { background-color: #424242 }
.c { color: #969896 } /* Comment */
.err { color: #d54e53 } /* Error */
.k { color: #c397d8 } /* Keyword */
.l { color: #e78c45 } /* Literal */
.n { color: #eaeaea } /* Name */
.o { color: #70c0b1 } /* Operator */
.p { color: #eaeaea } /* Punctuation */
.cm { color: #969896 } /* Comment.Multiline */
.cp { color: #969896 } /* Comment.Preproc */
.c1 { color: #969896 } /* Comment.Single */
.cs { color: #969896 } /* Comment.Special */
.gd { color: #d54e53 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gh { color: #eaeaea; font-weight: bold } /* Generic.Heading */
.gi { color: #b9ca4a } /* Generic.Inserted */
.gp { color: #969896; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #70c0b1; font-weight: bold } /* Generic.Subheading */
.kc { color: #c397d8 } /* Keyword.Constant */
.kd { color: #c397d8 } /* Keyword.Declaration */
.kn { color: #70c0b1 } /* Keyword.Namespace */
.kp { color: #c397d8 } /* Keyword.Pseudo */
.kr { color: #c397d8 } /* Keyword.Reserved */
.kt { color: #e7c547 } /* Keyword.Type */
.ld { color: #b9ca4a } /* Literal.Date */
.m { color: #e78c45 } /* Literal.Number */
.s { color: #b9ca4a } /* Literal.String */
.na { color: #7aa6da } /* Name.Attribute */
.nb { color: #eaeaea } /* Name.Builtin */
.nc { color: #e7c547 } /* Name.Class */
.no { color: #d54e53 } /* Name.Constant */
.nd { color: #70c0b1 } /* Name.Decorator */
.ni { color: #eaeaea } /* Name.Entity */
.ne { color: #d54e53 } /* Name.Exception */
.nf { color: #7aa6da } /* Name.Function */
.nl { color: #eaeaea } /* Name.Label */
.nn { color: #e7c547 } /* Name.Namespace */
.nx { color: #7aa6da } /* Name.Other */
.py { color: #eaeaea } /* Name.Property */
.nt { color: #70c0b1 } /* Name.Tag */
.nv { color: #d54e53 } /* Name.Variable */
.ow { color: #70c0b1 } /* Operator.Word */
.w { color: #eaeaea } /* Text.Whitespace */
.mf { color: #e78c45 } /* Literal.Number.Float */
.mh { color: #e78c45 } /* Literal.Number.Hex */
.mi { color: #e78c45 } /* Literal.Number.Integer */
.mo { color: #e78c45 } /* Literal.Number.Oct */
.sb { color: #b9ca4a } /* Literal.String.Backtick */
.sc { color: #eaeaea } /* Literal.String.Char */
.sd { color: #969896 } /* Literal.String.Doc */
.s2 { color: #b9ca4a } /* Literal.String.Double */
.se { color: #e78c45 } /* Literal.String.Escape */
.sh { color: #b9ca4a } /* Literal.String.Heredoc */
.si { color: #e78c45 } /* Literal.String.Interpol */
.sx { color: #b9ca4a } /* Literal.String.Other */
.sr { color: #b9ca4a } /* Literal.String.Regex */
.s1 { color: #b9ca4a } /* Literal.String.Single */
.ss { color: #b9ca4a } /* Literal.String.Symbol */
.bp { color: #eaeaea } /* Name.Builtin.Pseudo */
.vc { color: #d54e53 } /* Name.Variable.Class */
.vg { color: #d54e53 } /* Name.Variable.Global */
.vi { color: #d54e53 } /* Name.Variable.Instance */
.il { color: #e78c45 } /* Literal.Number.Integer.Long */
